@model WebStore.Models.Employee

<!DOCTYPE html>
<html>
    <head>
        <meta name = "veiwport" content="width=device-width" />
        <title>
           Employees
        </title>
    </head>

    <body>
        <h3>
            Employee card
        </h3>
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Surname</th>
                    <th>Name</th>
                    <th>Patronymic</th>
                    <th>Age</th>
                    
                </tr>
            </thead>
            <tbody>
             
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.LastName</td>
                    <td>@Model.FirstName</td>
                    <td>@Model.Patronymic</td>
                    <td>@Model.Age</td>
                    
                </tr>
           
        </tbody>
        </table>
        <hr/>
        <a href="~/">Home</a>
        <a href="~/Home/employees">Employee list</a>
    </body>
</html>